body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: #a9def9;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
    font-size: 400%;
    color: white;
}

.color {
    background-color: #d0f4de;
}

.sidebar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: #ff99c8;
    padding: 0 140.5px;
    border-radius: 10px;
}

button {
    width: 150px;
    flex-grow: 0;
    font-size: 180%;
    padding: 10px 20px;
    border-radius: 10px;
    margin: 30px 0;
    background-color: #fcf6bd;
    color: rgb(73, 73, 73);
    border: none;
}

.container {
    display: flex;
    width: 900px;
    height: 900px;
    align-self: center;
    background-color: white;
    border-radius: 10px;
    
}

.dimension {
    font-size: 200%;
    color: white;
}

.input {
    display: flex;
    align-self: center;
}

.column {
  width: 100%;
  height: 100%;
  
  display: flex;
  flex-direction: column;
}

.pixel {
    flex: 1;
    min-width: 8px;
    min-height: 8px;
}

